<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">

<div class="text-center">
<h1 class="font-weight-bold">
Smart  Contact Manager
</h1>
<p>Hey Start Collecting Contact in smarter way,we provide smart way to handel contacts.</p>
<button class="btn btn-primary btn-rounded">Get Started</button>
</div>
</section>
</body>
</html>